html, body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: #f7f7f9;
}

li{
    list-style: none;
}
.main{
    position: relative;
    margin: auto;
    width: 80%;
    margin-top: 1em;
}
.main input{
    box-sizing: content-box;
}
.tab-content{
    padding-top: 5px;
}
.tag-check{
    display: inline-block;
    box-sizing: border-box;
    width: 6em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    margin-left: 0.5em;
    background: #e6e6e6;
    border-width: 1px;
    border-color: #f7f7f9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 10px;
}
.tag-check.enabled{
    cursor: pointer;
    transition: border-color ease-in-out 0.5s,box-shadow ease-out 0.5s;
    -moz-transition: border-color ease-in-out 0.5s,-moz-box-shadow ease-out 0.5s;
    -webkit-transition: border-color ease-in-out 0.5s,-webkit-box-shadow ease-out 0.5s;
    -o-transition: border-color ease-in-out 0.5s,-o-box-shadow ease-out 0.5s;
}
.tag-check.enabled:hover {
    cursor: pointer;
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,1);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,1);
}
.tag-check.tag-selected{
    background: #03A9F4;
}
span.word{
    display: inline-block;
    min-width: 4em;
}
.tag-check.customize{
    width: auto;
    cursor: pointer;
    background: none;
    border: none;
    box-shadow: none;
}
.disabled{
    opacity: 0.3;
}
.form-group .tag{
    height: 3em;
}
.form-group .tag > div{
    height: 100%;
}
.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -28px;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}
.custom-combobox{
    width: 100%;
}
.trainer-buttons>button{
    margin-right: 5px;
}
.main-mask{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.3);
}
.main-mask > .progress{
    position: relative;
    margin: auto;
    width: 90%;
    top: calc(50% - 20px);
    height: 20px;
}
.progress-bar{
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}