html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

li{
    list-style: none;
}
.main{
    position: relative;
    margin: auto;
    width: 80%;
    margin-top: 1em;
    background: gray;
}
.main input{
    box-sizing: content-box;
}